.overlayR{
    background-image: url('authImg/binary.png');
    background-repeat: repeat;
    height: 800px; 
    overflow: hidden;
    /* background-attachment: fixed; */
    /* position: absolute; */
    background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;

}

.account{
    color: aliceblue;
}

.makeCenterR{
    /* left = 50%;
    right = 50%; */
    padding-top: 100px;
    width: 100%;
}

/* .binary{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

} */

.boxRegister{
    background-color: #3b3b3bab;
    display:inline-block;
    border: solid 1px #121212;
    border-radius: 30px;
    width: fit-content;
}

.input .input[type = "password"] .input[type = "text"] .input[type = "email"]
{
    background-color: aliceblue;
    width: 350px;
    border-radius: 10px;
    text-align: start;
}

.form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.fancyInputR{
    display: block;
    padding: 10px;
    padding-right: 120px;
    margin: 25px;
    border: solid 1px #71a3f7;;
    border-radius: 5px;
    background-color: #faebd713;
   
}

.headRegister{
    /* background-image: linear-gradient(45deg, #ff85ad, #ffb05c);
    /* background-image: linear-gradient(45deg, #f3ec78, #af4261); 

    background-size: 100%;
    background-repeat: repeat;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */

    font-size: 30px;
    color:#71a3f7;;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
}

.registerButton:hover{
    background-color:  #121212;
    border-color: #121212;
    color:#71a3f7;;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.registerButton{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    padding: 10px;
    color:#121212;
    background-color: #71a3f7;;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 1px #71a3f7;;
    border-radius: 20px;
}